#wrapper{
	margin:50px 0px; padding:0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
}
#containerForm{
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	padding-bottom:25px;
	display:block;
}
#confirmationBox{
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	display:none;
}

.block {
display: block;
vertical-align: top;
}
.price{
	float:right;
}


.menuDescription{
	float:left;
}
.menuDescriptionWrapper{
	clear:both;	
}
h2 {
	clear:both;
	padding-top:20px !important;	
}
#errorBox{
	color:#F00;
	font-size:14px;
	display:none;
	clear:both;
	margin:0px auto;
	padding:20px
}
.showError{display:block;};
.hideError{display:none;}


#buttonBox{
	padding:10px;
	clear:both;
	
}
#totalBox{
	float:right;
	font-weight:bold;
	font-size:16px;
}
.dimmer{
	opacity: 0.2;	
}
